@{
    /**/

    ViewBag.Title = "Home Page";
}

<br />
@section scripts{
    <script>
        $(document).ready(function () {

            $("#txt-msg").on('keyup', function (e) {
                if (e.keyCode === 13) {
                    enviarmsg();
                }
            });

            var f = $('hid-nome').val();

            if (f == '' || f == undefined || f == null) {
                $('#modal-container-7766').modal('show');
            }
            else {
                get();
            }

        });

        function setnome() {

            var anom = $('#txtnome').val();
            $('#hid-nome').val(anom);

            if (anom != '') {
                get();
                $('#modal-container-7766').modal('hide');
            }

        }

        function enviarmsg() {
            $.ajax({
                    url: '@Url.Action("setMsg", "Home")',
                data: { msg: $('#txt-msg').val(), nome: $('#hid-nome').val() },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {

                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            var obj = data[i];
                            html += '<li><b>' + obj.nome + '</b><br />' + obj.msg +'</li>';
                        }

                        $('#ul-msg').html(html);
                        $('#txt-msg').val('');
                    }
                });
        }

        function get() {
            setInterval(function () {

                $.ajax({
                    url: '@Url.Action("getMgss", "Home")',
                    data: null,//{ CPF: cpf },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {

                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            var obj = data[i];
                            html += '<li><b>' + obj.nome + '</b><br />' + obj.msg +'</li>';
                        }

                        $('#ul-msg').html(html);
                    }

                });

            }, 1000);
        }



    </script>
}
<div class="container-fluid">
    <input type="hidden" id="hid-nome" />
    <div class="row">
        <div class="col-12">
            <div class="jumbotron" style="overflow-y: scroll;height: 500px;">
                <ul id="ul-msg">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                @*<input type="text" class="form-control" id="txt-msg" />
                    <input type="button" onclick="enviarmsg()" value="enviar" />*@
                <div class="input-group mb-3">
                    <input type="text" id="txt-msg" class="form-control" placeholder="Mensagem" aria-label="Mensagem" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="enviarmsg()">Enviar 2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-7766" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">
                                Modal title
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtnome" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="setnome()">
                                Entrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
